.content_to_right {
    padding: rem($header_height) 0 0 rem($sidebar_width);
    transition: all .3s ease;
}

.sn_wrapp {
    max-width: rem($content_width);
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(15);
    box-sizing: border-box;
    transition: all .3s ease;
}

body {
    background-color: $gray;
    font-family: $font_base;
}


.sn_title {
    font-size: rem(36);
    font-weight: 500;
    padding-bottom: rem(10);
    border-bottom: 1px solid $black;
    width: 100%;
    text-align: left;

    &--description {
        margin-bottom: rem(10);
        display: flex;
        justify-content: space-between;
    }
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $blue_dark;
    }
}

.sn_btn {
    background-color: $green_2;
    color: $white;
    border: 1px solid $green_2;
    font-size: 1rem;
    padding: 0 rem(20);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: rem(10);
    text-transform: capitalize;
    line-height: rem(35);
    display: inline-block;

    &:hover {
        background-color: $green_3;
    }

    &--error {
        background-color: $red_2;
        border: 1px solid $red_2;

        &:hover {
            background-color: $red;
        }
    }
}

input,
textarea {
    width: 100%;
    line-height: rem(25);
    padding: 0 rem(10);
    box-sizing: border-box;
    margin-bottom: rem(10);
}

textarea {
    resize: none;
}

fieldset {
    margin-bottom: rem(10);
}

legend {
    padding: 0 rem(10);
}

label {
    font-size: rem(13);
    padding: 0 rem(10);
}

.sn_overflow {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        vertical-align: middle;
        text-align: center;
        border: 1px solid $green;
        padding: rem(5);

        &:first-child {
            text-align: left;
        }
    }
}